/* top btn color:
    rgb(3, 155, 229)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

button {
    background-color: white;
    border-color: black;
}

button:hover {
    cursor: pointer;
}

.page-wrapper {
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.first-block {
    height: calc(100vh - 65px);
}

.first-block p {
    font-size: 40px;
}

.button-wrapper {
    padding: 70px 150px;
}

h3 {
    line-height: 1.5;
    padding: 30px;
    font-size: 30px;
}

p {
    width: 50vw;
    padding: 30px 70px 0 30px;
    text-align: justify;
}

@media only screen and (max-width: 813px) {
    .button {
        color: black;
    }

    h3 {
        line-height: 1.5;
        font-size: 24px;
    }

    p {
        width: 100%;
    }

    .button-wrapper {
        padding: 50px 100px;
    }
}

.header {
    display: block;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 10px 30px;
    height: 65px;
    list-style-type: none;
    margin: 0;
}

.sub-header {
    float: left;
    padding: 5px 10px;
    margin: 5px 10px;
}

.header .sub-header:nth-last-child(1), .header .sub-header:nth-last-child(1) a {
    float: right;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header .sub-header:nth-last-child(2), .header .sub-header:nth-last-child(2) a {
    float: right;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header .sub-header:nth-last-child(1) button {
    border: 1px solid rgb(3, 155, 229);
}

.sub-header a {
    margin-right: 20px;
}

.sub-header a:hover {
    text-decoration: underline;
}

.sub-header > .active {
    background-color: gray;
}

.sub-header button {
    margin: 0 5px;
    padding: 0;
    height: 45px;
    width: 85px;
}

.button-wrapper button {
    height: 45px;
    width: 100px;
}

/*.sub-header-link {*/
/*    padding: 5px 10px;*/
/*    margin: 5px 10px;*/
/*}*/

a {
    text-decoration: none;
    color: black;
}

.button {
    color: black;
    text-transform: initial;
    height: 45px;
}

.header-button {
    text-transform: initial !important;
}

.burger {
    display: none;
    /*position: absolute;*/
    /*float: right;*/
}

.cross {
    display: none;
}

@media only screen and (max-width: 813px) {
    .burger {
        display: flex;
        margin: 20px;
        position: absolute;
        right: 0;
        top: 0;
        color: #5a5a5a;
        width: 60px;
        height: 60px;
        text-align: center;
    }

    .header {
        display: none;
        flex-flow: column;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .sub-header {
        float: none;
    }

    .header .sub-header:nth-last-child(1), .header .sub-header:nth-last-child(1) a {
        float: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    .header .sub-header:nth-last-child(2), .header .sub-header:nth-last-child(2) a {
        float: none;
        text-decoration: none;
        margin: 0;
    }

    .header .sub-header:nth-last-child(2) {
        border-top: 1px solid rgb(3, 155, 229);
        padding: 20px 40px 20px;
    }

    .header .sub-header:nth-last-child(1) button {
        border: 1px solid rgb(3, 155, 229);
    }

    .sub-header-link {
        color: white
    }

    .cross {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        color: white;
        width: 60px;
        text-align: center;
        height: 60px;
    }

    .header-button {
        border: none;
    }

    .first-block {
        margin-top: 75px;
    }
}
